body {
    font-family: 'Roboto Mono', monospace;
    height: 100%;
}

fieldset {
    border:none;
}

.container{
    width: 60%;
    margin: 0 auto;
}

label input {
    font-size: 13px;
}

/* CHAMADA */

.chamada__div{
    text-align: center;
    letter-spacing: 2px;
    width: 70%;
    margin: auto;
    
}

.chamada__foto{
    width: 100%;
}

.chamada__titulo{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 80px;
}

/* QUESTIONÁRIO */

.formulario div{
    margin: 30px 0;
    line-height: 30px;
    font-size: 20px;
}


.primeiras-respostas, .segundas-respostas, .terceiras-respostas, .quartas-respostas, .quintas-respostas, .sextas-respostas, .setimas-respostas{
    text-align: center;
    margin: 30px 0;
    
}

.primeiras-respostas label, .segundas-respostas label, .terceiras-respostas label, .quartas-respostas label, .quintas-respostas label, .sextas-respostas label, .setimas-respostas label{
    font-size: 18px;
}

.primeira-pergunta, .segunda-pergunta, .terceira-pergunta, .quarta-pergunta, .quinta-pergunta, .sexta-pergunta, .setima-pergunta {
    margin: 30px 0;
}

img {
    margin: 50px auto;
    display: block;
    width: 80%;
}

/* ÁREA DO RESULTADO */
.resposta{
    text-align: center;
    margin: 50px auto;
    font-weight: bold;
    font-size: 20px;
    color: rgb(119, 106, 90);
}

.btn, .btn-reiniciar {
    border-radius: 5%;
    padding: 8px 12px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    background-color: #7F7B6E;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.btn:hover, .btn-reiniciar:hover{
    background-color: blanchedalmond
}

.btn-reiniciar{
    display: none;
}

@media (max-width: 740px){
    .chamada__foto{
        width: 100%;
    }

    .chamada__titulo{
        font-size: 40px;
        margin-bottom: 40px
    }

    label{
        font-size: 17px;
    }

    img{
        width: 100%;
    }

    .container{
        width: 80%;
    }
}

@media (max-width: 640px){
    .chamada__foto{
        margin: 0;
    }

    .chamada__div{
        width: 90%;
    }
}