body{
    font-family: sans-serif;
}

.col{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label, input, p{
    margin: 8px 0;
}

input{
    border: solid 1px #ccc;
    width: 100%;
}

th{
    background: rgb(168, 164, 164);
    color: rgb(34, 34, 34)
}

td, th{
    padding: 10px 16px;
    text-align: center;
}

button{
    padding: 8px;
    border: none;
    border-radius: 5px;
    display: block;
    background-color: rgb(170, 100, 170);
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin: 25px auto;
}

img {
    width: 400px;
}

.content {
    display: flex;
}

.linha1{
    padding: 10px; 
    background: rgb(103, 103, 240);
}

.linha2{
    padding: 10px; 
    background: rgb(103, 231, 103);
}

.linha3{
    padding: 10px; 
    background: rgb(233, 233, 120);
}

.linha4{
    padding: 10px;
    background: rgb(240, 97, 97);
}

.linha5{
    padding: 10px;
    background: rgb(187, 118, 187);
}